# Environment
HOST=localhost
NODE_ENV=development
APP_URL=http://ai-car.localhost:5001
DATABASE_URL=postgres://ai_car:22Qyzr7qz5Bk23dD7JTR@127.0.0.1:5432/ai_car

# Database
DB_HOST=127.0.0.1
DB_USER=ai_car
DB_NAME=ai_car
DB_PASSWORD=22Qyzr7qz5Bk23dD7JTR
DB_PORT=5432
DB_DIALECT=postgres

# Auth
JWT_SECRET=vcnDW7E74bRA5jppNUJm

# Gemini API (for car image analysis)
GEMINI_API_KEY=AIzaSyDvMEc6l6jcaGqFkAvsudWnyl-YW0nKDPs
GEMINI_MODEL=gemini-2.0-flash

# Stripe (for payments)
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxx
STRIPE_CURRENCY=gbp
FRONTEND_URL=http://localhost:5173
STRIPE_WEBHOOK_SECRET=whsec_...  --> enter it from stripe login

# Redis (for BullMQ task queue)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Email (SMTP) - for sending report notifications
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=adrienne3@ethereal.email
SMTP_PASS=B1a7UH1QHyTqnwTRyw
SMTP_FROM=adrienne3@ethereal.email

# e2fb904a-7ad8-4eb2-9a76-751867cd1152

STRIPE_CURRENCY=usd
STRIPE_WEBHOOK_SECRET=whsec_acd**