services:
  db:
    image: postgres:14
    container_name: ai-car
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7-alpine
    container_name: ai-car-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    restart: always
    command: redis-server --appendonly yes
